<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Распознавание рукописного текста с изображения</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#upload-form').submit(function(e) {
                e.preventDefault();
                var fileInput = $('#file-input')[0];
                if (fileInput.files.length > 0) {
                    var file = fileInput.files[0];
                    // Проверяем, что файл является изображением
                    if (['image/jpeg', 'image/png', 'image/jpg'].includes(file.type)) {
                        var formData = new FormData(this);

                        $.ajax({
                            url: '/upload',
                            type: 'POST',
                            data: formData,
                            success: function(data) {
                                if (data.recognized_text) {
                                    var formattedText = data.recognized_text.replace(/\n/g, '<br>');
                                    $('#recognized-text').html(formattedText).show();
                                    $('#image-preview').attr('src', URL.createObjectURL(file)).show();
                                } else {
                                    $('#recognized-text').text('Произошла ошибка.').show();
                                }
                            },
                            cache: false,
                            contentType: false,
                            processData: false
                        });
                    } else {
                        // Показываем сообщение об ошибке
                        alert('Пожалуйста, выберите файл изображения (JPEG или PNG).');
                    }
                } else {
                    alert('Пожалуйста, выберите файл для загрузки.');
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="upload-section">
            <h1>Распознавание рукописного текста с изображения</h1>
            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input" required>
                <input type="submit" value="Загрузить">
            </form>
        </div>

        <div class="result-section">
            <img id="image-preview" alt="" style="display: none;"> <!-- Скрытие изображения до загрузки -->
            <h2>Распознанный текст:</h2>
            <p id="recognized-text" style="display: none;"></p>
        </div>
    </div>
</body>
</html>